# build output
dist/
# generated types
.astro/

# dependencies
node_modules/
.nodeenv/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.*
!.env.example

# database files
data/
*.db
*.db-shm
*.db-wal

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Windows-specific files
Thumbs.db
Thumbs.db:
$RECYCLE.BIN/

# Linux-specific files
*~

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS temp files
*.tmp
*.temp

# Test coverage
coverage/

# OMX
.omx/
.omg/
